/* default */
body {
  font-family: "Montserrat";
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #004143;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: #004143;
}

/* autofill fixation */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* calendar customization */
.rdp-root {
  --rdp-accent-color: #004143 !important;
}

/* slide customization */
.swiper {
  width: 100% !important;
}

.slider {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-pagination {
  position: relative !important;
  padding-top: 64px !important;
}

.swiper-pagination-bullet {
  background: #d9d9d9 !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 10px !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  background: #ac8a5f !important;
  width: 24px !important;
}
